// Colors

$background-color: #546c84;
$main-text-color: #475055;
$header-icons-color: #b2b9bd;
$placeholder-color: #a3abaf;

$aqua: #56ccc8;
$navy: #263a54;
$navy-light: #263a54;
$navy-dark: #152840;
$white: #ffffff;
$light-gray: #c5cdd1;
$gray: #787878;

$facebook-color: #4d6baa;
$twitter-color:  #4fc6f8;
$google-color: #ea6060;
$rss-color: #f60;
$pinterest-color: #bd081c;
$linkedin-color: #238cc8;


// Font-sizes

$large-social-font-size: 3rem;
$h1-font-size: 3rem;
$h2-font-size: 1.5rem;
